.box {
  background:#efefef;
  border: 1px solid black;
  padding: 10px 20px;
  margin: 2px;
  &.dragging {
    background: coral;
  }
 
}

.dropzone {
  padding: 20px;
  margin: 20px 0;
  background: lightgray;
  min-height: 200px;
  border: 1px solid black;

  &.dropzone-activated {
    border: 1px solid red;
  }

  &.dropzone-entered {
    background-color: #efefef;
  }
}

