<h1>Draggable</h1>

<h2 style="text-align: center">Custom Drag And Drop Directives</h2>


<div class="row">
  


<div class="col-md-5">
  <div class="dropzone" appDropzone (drop)="move(currentItem, list1)"
  (remove)="move(currentItem, list1)">
<div *ngFor="let box of list1" class="box"
    appDroppable (dragStart)="currentItem = box">
 {{ box }}
 <div class="box" *appDraggableHelper>{{ box }}</div>
</div>
</div>
</div>
<div class="col-md-5">
  <div class="dropzone" appDropzone (drop)="move(currentItem, list2)"
  (remove)="move(currentItem, list1)">
<div *ngFor="let box of list2" class="box"
    appDroppable (dragStart)="currentItem = box">
 {{ box }}
 <div class="box" *appDraggableHelper>{{ box }}</div>
</div>
</div></div>

</div>



